<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="server_name" value="ninex_server"/>
		<add key="port" value="1883"/>
		<add key="admin_name" value="admin"/>
		<add key="admin_password" value="password"/>
		<add key="user_name" value="user"/>
		<add key="user_password" value="password"/>
		<add key="update_interval" value="1000"/>
	</appSettings>
</configuration>